<nav class="blue accent-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Medical Data Project</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/data-view">View Data</a></li>
        </ul>
    </div>
</nav>