<div class="row">
    <div class="col s12">
        <h4>ABOUT</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Illo excepturi iste amet, vitae error facilis quis maiores doloribus a 
            necessitatibus architecto? A facere suscipit, illum provident commodi 
            iure molestias veritatis. Lorem ipsum dolor sit, amet consectetur adipisicing 
            elit. Fuga laborum maiores aliquam, quae minus totam sint provident minima 
            debitis inventore eius, dicta dolorem magni architecto hic, voluptatum voluptates 
            tenetur porro.</p>
</div>


  <a class="waves-effect waves-light btn modal-trigger" href="#" onclick="toggleModal();">Add A Record To Database</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add a new patient to database</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

</div>

      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
            