<div class="row">
    <div class="col s12">
        <h4>ABOUT</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Illo excepturi iste amet, vitae error facilis quis maiores doloribus a 
            necessitatibus architecto? A facere suscipit, illum provident commodi 
            iure molestias veritatis. Lorem ipsum dolor sit, amet consectetur adipisicing 
            elit. Fuga laborum maiores aliquam, quae minus totam sint provident minima 
            debitis inventore eius, dicta dolorem magni architecto hic, voluptatum voluptates 
            tenetur porro.</p>
    </div>
</div>



  <div class="row">
    <h4>Technologies Used</h4>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pythoncentral.io/wp-content/uploads/2022/06/a8531424a5fac660e4261f72ca817141.png">

        </div>

      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://ubiq.co/database-blog/wp-content/uploads/2020/06/mysql-drop-index.png">

        </div>

      </div>
    </div>


        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://db.cs.cmu.edu/wordpress/wp-content/uploads/2020/08/seminar2020-snowflake-twitter.jpg">

        </div>

      </div>
    </div>

        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://ik.imagekit.io/tp/20220217-amazon-aws-logo-dark.png">

        </div>

      </div>
    </div>
        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://nglogic.com/wp-content/uploads/2022/11/nodejs-1-logo.png">

        </div>

      </div>
    </div>



    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://miro.medium.com/max/800/1*QT3R0xvT52hmhr60hyrc0w.png">

        </div>

      </div>
    </div>


        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://assets.materialup.com/uploads/4774c9bb-f8aa-410b-8711-9afad38761bb/y3XmXWHTQ4NcleBj.png">

        </div>

      </div>
    </div>
        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.namasteui.com/wp-content/uploads/2015/06/html5.jpg">

        </div>

      </div>
    </div>

            <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://icon-library.com/images/css3-icon/css3-icon-6.jpg">

        </div>

      </div>
    </div>



  </div>

